<nav>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <!-- Menu -->
      <aside #layoutMenu
             id="layout-menu-aside"
             style="position: fixed;"
             class="layout-menu menu-vertical menu shadow-xs bg-white rounded m-3">

        <div class="app-brand demo">
          <a routerLink="/" class="app-brand-link">
            <span class="app-brand-logo demo">
              <img src="../../../assets/img/ProBank/TSIIcon.png" alt="Pro Bank Logo" width="60" height="44">
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">Pro Bank</span>
          </a>

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="menu-toggle-icon d-xl-block align-middle"></i>
          </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
          <ng-container *ngFor="let root of menuTree">
            <ng-container *ngIf="root.visible">
              <ng-container *ngTemplateOutlet="menuNodeTpl; context: { $implicit: root }"></ng-container>
            </ng-container>
          </ng-container>
        </ul>
      </aside>
      <!-- / Menu -->
    </div>
  </div>
</nav>

<!-- Reusable node template: produces exactly ONE <li> per node -->
<ng-template #menuNodeTpl let-node>
  <ng-container *ngIf="node.visible">
    <li class="menu-item"
        [class.close]="!node.expanded"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }">

      <!-- If node has visible children: show toggle and nested UL -->
      <ng-container *ngIf="hasVisibleChildren(node); else leafTemplate">
        <a href="javascript:void(0);" class="menu-link menu-toggle" (click)="toggleExpand(node)">
          <i class="menu-icon ri-folder-2-fill"></i>
          <div>{{ node.name }}</div>
        </a>

        <ul class="menu-sub" *ngIf="node.expanded">
          <ng-container *ngFor="let child of node.children">
            <ng-container *ngIf="child.visible">
              <ng-container *ngTemplateOutlet="menuNodeTpl; context: { $implicit: child }"></ng-container>
            </ng-container>
          </ng-container>
        </ul>
      </ng-container>

      <!-- Leaf template -->
      <ng-template #leafTemplate>
        <a *ngIf="node.routerLink"
           [routerLink]="node.routerLink"
           class="menu-link">
          <i class="menu-icon ri-file-text-line"></i>
          <div>{{ node.name }}</div>
        </a>

        <a *ngIf="!node.routerLink" class="menu-link">
          <i class="menu-icon ri-file-text-line"></i>
          <div>{{ node.name }}</div>
        </a>
      </ng-template>

    </li>
  </ng-container>
</ng-template>
